extends ./layout

block content
	.col-sm-6.col-md-4
		.panel.panel-default
			.panel-heading
				h2 Inventory
			ul.list-group
				for item in inventory
					li.list-group-item
						span.badge 1
						|#{item}