label {
    position: relative;
    margin-bottom:15px;
    
    .label {
        position: absolute;
        left: 15px;
        bottom: -15px;
        color: #4e4e4e;
        font-size: 10px;
    }
    
}